@model IEnumerable<BeerWebshop.APIClientLibrary.ApiClient.DTO.OrderDTO>

@{
    ViewData["Title"] = "Kontooversigt";
}

<h1>@ViewData["Title"]</h1>

<div class="d-flex justify-content-between align-items-center mb-3">
    <form asp-controller="Account" asp-action="Logout" method="post" class="mb-0">
        <button type="submit" class="btn btn-danger btn-sm">Log ud</button>
    </form>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Ordre id</th>
            <th>Dato</th>
            <th>Leveringsstatus</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => order.Id)</td>
                <td>@Html.DisplayFor(modelItem => order.Date)</td>
                <td>@Html.DisplayFor(modelItem => order.IsDelivered)</td>
                <td>@Html.DisplayFor(modelItem => order.TotalPrice)</td>
                <td>
                    @Html.ActionLink("Se detaljer", "Detaljer", new { id = order.Id }, new { @class = "btn btn-primary btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
